.btn_violet {
  color: #ffffff;
  padding: 8px 24px;
  margin-top: 3px;
  background-color: #A027A3;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  font-weight: 500px;
}

.btn_violet:hover {
  color: #ffffff;
  background-color: #742c76;
  text-decoration: none;
}
