.btn_blue {
  background-color: #262487;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
}

.btn_blue:hover {
  color: #ffffff;
  background-color: #5555ab;
  text-decoration: none;
}
