.btn_red {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 600;
  background: linear-gradient(#e41616, #c80000);
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn_red:hover {
  background: linear-gradient(#ce1212, #df1d1d);
  color: white;
}
