.card_client_create {
  background-color: rgba(180, 180, 180, 0.20);
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(150, 150, 150, 0.10);
  border-width: 1px;
  box-shadow: 2px 3px #888888;
  padding: 5% 5%;
}
