// Specific CSS for your home-page
.container-home{
  height: 80vh;
  width: 100%;
  background: linear-gradient(45deg,#0c1a57,#1b28bb,#2739FF,#4b5aff);
  background-size: 300% 300%;
  animation: bganimated 12s infinite ease-in-out;
  box-sizing: border-box;
}
@keyframes bganimated{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.title-home {
  color:#3b3b3b;
  font-family: Montserrat;
  font-weight: 700;
}

.h2-home {
  color:white;
  text-align: center;
  font-size: 40px;
}

body{
  overflow-x: hidden;
}
