.invisible{
  visibility: hidden;
}



.step-index__step-li-inner-div{
  padding: 15px;
  width: 100%;
  display: flex;
  color: black;
  justify-content: space-between;
}

.step_index__step-li-buttons{
  display: flex;
  flex-direction: column;
}
