.hidden{
  display: none!important;
}

.task-main-card{
  padding: 10px;
  margin: 20px 0 0 20px;
  border-radius: 10px;
  background-color: white;
}

.task-main-card__title{
  color: #7e7e7e;
}


.task-main-card__column-left{
  border-right: #989898 1px solid;
}

.task-main-card__info-field{
  padding: 0 10px 0 0;
  display: flex;
}



.task-main-card__label{
  color: #7e7e7e;
  width: 150px;
}


.task-main-card__text{
  border: 1px solid #d9d9d9;
  padding: 4px;
  border-radius: 5px;
  color: #d9d9d9;
  width: 100%;
}


.task-main-card__status{
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
  padding-top: 7px;
  color: #ffffff;
  font-weight: 700;
}

.task-main-card__status--solicitado{
  background-color: #6f7af7;
}

.task-main-card__status--em-andamento{
  background-color: #460047;
}

.task-main-card__status--pendente{
  background-color: #ED2E19;
}

.task-main-card__status--em-aprovacao{
  background-color: #A027A3;
}

.task-main-card__status--aprovado{
  background-color: #262487;
}

.task-main-card__status--refacao{
  background-color: #ED776A;
}

.task-main-card__status--concluido{
  background-color: #2739FF;
}


.task-main-card__input-text{
  border: none;
}

.task-main-card__submit-div{
  // margin-top: 170px;
  // margin-left: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.task-main-card__input{
  width: 100%;
}

.task-main-card__input:focus{
  outline: none !important;
}


.task-main-card__input-select-status{
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background: transparent;
}

.task-main-card__input-option-status{
  color: black;
  font-weight: 700;
  text-align: center;
  background: transparent;
}


.task-main-card__step{
  border: none;
  text-align: center;
  vertical-align: middle;
  padding-top: 7px;
  color: #ffffff;
  font-weight: 700;
  text-transform: capitalize;
}


.task-main-card__step--backlog{
  background-color: #ED2E19;
}

.task-main-card__step--customer-success{
  background-color: #A027A3;
}

.task-main-card__step--copy-writing{
  background-color: #460047;
}

.task-main-card__step--design{
  background-color: #262487;
}

.task-main-card__step--midia{
  background-color: #2739FF;
}

.task-main-card__step--inbound{
  background-color: #6F7AF7;
}

.task-main-card__step--performance{
  background-color: #ED776A;
}

.task-main-card__input-select-step{
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background: transparent;
  text-transform: capitalize;
}

.task-main-card__input-option-step{
  color: black;
  font-weight: 700;
  text-align: center;
  background: transparent;
  text-transform: capitalize;
}

.task-main-card__submit-save{
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: #262487;
  color: white;
  font-weight: 500;

}

.task-main-card__submit-cancel{
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid #6B6767;
  background-color: #ECECEC;
  color: #6B6767;
  font-weight: 500;
  text-decoration: none;

}

.task-main-card__submit-save{
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: #262487;
  color: white;
  font-weight: 500;
}

.index-form form {
  width: 500px;
}

.index-form select {
  width: 500px;
  margin-right: 16px;
  border: solid 1px rgb(243, 243, 243);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  border-radius: 5px;
}
