<div class='container mt-3'>
<h1>Painel</h1>
</div>

<div class="row justify-content-right">
  <div class="col-sm-4 my-4">
    <%= form_with url: tasks_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Buscar tarefa"
        %>
      <%= submit_tag "Buscar", name: "", class: "btn btn-gradient ms-1" %>
    <% end %>
  </div>
</div>

<% @tasks.each do |task|  %>
<%= task.title %>
<%end %>
