  <div class="footer row">
    <div class="footer-links col-3">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>

    <div class="footer col-6 text-center">
      <p>© Copyright 2023 - eFloow - Todos os direitos reservados.
      <br>
      CNPJ 20.052.023/0001-01 R. Jericó, 193 - cj. 72 - Vila Madalena, São Paulo - SP, 05435-040</p>
    </div>

    <div class="footer-copyright col-3">
      Fluxos inteligêntes que <i class="fa-solid fa-lightbulb"></i> as ideias!
    </div>
  </div>
