 <!-- Sidebar -->
  <nav>
  <ul>
    <li>
      <a href="" class='sidebar__link'>Painel</a>
    </li>
    <li>
      <a href="" class='sidebar__link'>Usuários</a>
    </li>
    <li>
      <a href="" class='sidebar__link'>Clientes</a>
    </li>
  </ul>

  </nav>
  <!-- Sidebar -->
