<div class="container mt-3">
  <h1>Cadastro de Cliente</h1>
  <hr>
  <div class="d-flex justify-content-center">
    <div class="task-main-card p-5 pt-4 mb-5">
      <%= render "form", client: @client %>
    </div>
  </div>
</div>
