<div class="container card-product mt-5">
  <div class="card-product-infos demo">
    <h2>Aumente a eficiência da sua empresa com o <strong>eFloow.</strong></h2>
    <p>Preencha seus dados abaixo e solicite uma demonstração. Descubra como o eFloow pode simplificar suas operações, otimizar a gestão de tarefas e impulsionar a produtividade da sua equipe.</p>
  </div>

  <form class="demo-form">
    <h2>Agendar demonstração</h2>
    <div>
      <input type="text" name="name" placeholder="Seu nome" required>
    </div>
    <div>
      <input type="text" name="company" placeholder="Sua empresa" required>
    </div>
    <div>
     <input type="email" name="email" placeholder="Seu e-mail" required>
    </div>
    <div>
      <input type="submit" value="Enviar">
    </div>
  </form>


</div>
