.bolder_img {
  margin-left: 8px;
  width: 124px;
  height: 96px;
  color: rgb(66, 66, 66);
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 86px;
}
