.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 600;
  background: linear-gradient(#2030d8, #2739FF);
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-gradient:hover {
  background: linear-gradient(#2030d8, #2739FF);
  color: white;
}

.btn-navbar {
  color: #0F60C4;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  font-weight: 600;
  text-decoration: none;
}

.btn-navbar:hover {
  background: white;
  opacity: 0.9;
  color: #0F60C4;
}

.btn-ghost {
  color: white;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 600;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-ghost:hover {
  background: white;
  opacity: 0.9;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-gray {
  color: rgb(100, 100, 100);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 600;
  background: rgb(231, 231, 231);
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-gray:hover {
  background: rgb(231, 231, 231);
  color: rgb(100, 100, 100);
  border: 1px solid rgb(100, 100, 100);
}


#button-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.fixed-button {
  color: white;
  padding: 8px 24px;
  border-radius: 15px;
  border: solid 1px white;
  font-weight: 600;
  background: linear-gradient(#2030d8, #2739FF);
  transition: background 0.3s ease;
  text-decoration: none;
}
