.cards {
  display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
  min-height: 70vh;
  background-color: white !important;
}

.card-category {
  min-width: 280px;
	height: 40px;
	margin: 0px;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.card-task {
  background-color: white;
  height: auto;
  margin: 15px;
  padding: 10px;
  color: rgb(54, 54, 54);
  border-radius: 10px;
}

#results {
  cursor: grab;
}

#results:active {
  cursor: grabbing;
}

// #results .ghost {
//   filter: grayscale(1);
// }

.text-box {
  background-color: #f6f7fb;
  border-radius: 5px;
  padding-left: 5px;
}

.title-box {
  font-weight: 700;
  font-size: 17px;
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.card-category-home {
  height: 180px;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 600;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.container cards-home-1 {
  background-color: rgb(236, 239, 248);
}


.card-product {
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.card-product img {
  height: 100%;
  width: 600px;
  object-fit: cover;
}

.card-product h2 {
  color: rgb(49, 49, 49);
  font-size: 30px;
  font-weight: bold;
  margin-left: 50px;
}

.card-product strong {
  color: #0F60C4;
}

.card-product p {
  color: rgb(49, 49, 49);
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 50px;
}

.card-product-end {
  height: 400px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 15px;
  color: rgb(49, 49, 49);
}

.card-product-end img {
  height: 100%;
  width: 700px;
  object-fit: cover;
}

.card-product-end h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.card-product-end strong {
  color: #0F60C4;
}

.card-product-end p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 25px;
}

.image-1 {
  color: #ED2E19;
  font-size: 30px;
}

.image-2 {
  color: #FF8AC4;
  font-size: 30px;
}

.image-3 {
  color: #F04095;
  font-size: 30px;
}

.image-4 {
  color: #D1AEED;
  font-size: 30px;
}

.image-5 {
  color: #FF9900;
  font-size: 30px;
}

.image-6 {
  color: #00D2D2;
  font-size: 30px;
}

.image-7 {
  color: #FF7575;
  font-size: 30px;
}

.box-1:hover {
  border: 2px solid #ED2E19;
}

.box-2:hover {
  border: 2px solid #FF8AC4;
}

.box-3:hover {
  border: 2px solid #F04095;
}

.box-4:hover {
  border: 2px solid #D1AEED;
}

.box-5:hover {
  border: 2px solid #FF9900;
}

.box-6:hover {
  border: 2px solid #00D2D2;
}

.box-7:hover {
  border: 2px solid #FF7575;
}

.demo {
width: 800px;
margin-right: 60px;
}

.demo-form {
  background: linear-gradient(#2030d8, #2739FF);
  width: 500px;
  height: 320px;
  border-radius: 15px;
  margin-right: 40px;
  justify-content: center;
}

.demo-form h2 {
  color: white;
  font-size: 25px;
  margin: 15px;
  margin-left: 15px;
}
