.form-group {
  margin-bottom: 20px;
}


input[type="text"],
input[type="email"],
input[type="datetime-local"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.form-group-div {
  background: linear-gradient(#2030d8, #2739FF);
  border-radius: 15px;
  width: 350px;
  height: 350px;
  padding: auto;
}

.form-group-div p {
  color: white;
  margin-bottom: 10px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 600;
  text-align: center !important;
  font-size: 20px;
}


.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.label-form {
  color: white;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

.helpform {
  width: 500px;
  margin-bottom: 30px;
  margin-left: 35px;
  border: none;
}

.helpform p {
  color: #0F60C4;
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  text-align: center !important;
  font-size: 30px;
}
