.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(#2030d8, #2739FF);
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link{
  display: inline-block;
  color:rgb(232, 232, 232);
  font-weight: 600;
}

.nav-link:hover{
  color:rgb(255, 255, 255);
  font-weight: 800;
}
