// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#steps li {
  cursor: grab;
}

#steps li:active {
  cursor: grabbing;
}

#steps li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}
